@tailwind base;
@tailwind components;
@tailwind utilities;

.some-class {
  all: revert; /* locally remove tailwind styles */
}

html {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  color: #444;
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.post-pic {
  max-width: 400px;
  width: 100%;
}

h1,
h2,
h3 {
  color: #222;
  font-family: Georgia, serif;
  font-weight: bold;
  font-style: italic;
}
